redmine:
  api_key: your-redmine-api-key
  base_url: https://redmine.example.com


confluence:
  username: timelog-bot@example.com
  api_key: your-confluence-api-token
  base_url: https://myconfluence.example.com/


smtp:
  server: mail.example.com
  port: 587
  from: timelogbot@example.com
  password: hunter2


project_groups:

  - group_name: "My Redmine project"
    ids:
      - my-redmine-project
    managers:
      - info@example.com
    confluence:
      update_pages: true
    checkpoints:
      days: [15, 180, 365]       # Days passed checkpoints
      percent_hours: [50, 90, 100]  # Hours logged checkpoints

  - group_name: "Another Redmine project"
    ids:
      - another-redmine-project
    managers:
      - info@example.com
    confluence:
      update_pages: false
    checkpoints:
      days: [15, 180, 365]
      percent_hours: [50, 90, 100]
